<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='scrabble.css'
  </head>
  <div class = 'container'>
    <h1>Scrabble Word Scorer</h1>
    <form action='/results'>
      <div class="form-group">
        <label for="sender">Enter the length in inches</label>
        <input id="sender" name="sender" class="form-control" type="integer">
        <label for="sender">Enter the length in inches</label>
        <input id="sender" name="sender" class="form-control" type="integer">
        <label for="sender">Enter the length in inches</label>
        <input id="sender" name="sender" class="form-control" type="integer">
      </div>
      <button type="submit" class="btn">Go!</button>
    </form>
  </div>
